* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --heading-font: 'Sora', sans-serif;
    --heading-color: #000958;
    --primary-bg-color: #FFFAF5;
    --secondary-bg-color: #FFF6ED;
    --primary-text-color: #656689;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    min-width: 189px;
    padding: 20.2px 0px;
    text-align: center;
    border: 1px solid #FF5B2E;
    border-radius: 31px;
    outline: none;
    background-color: #FF5B2E;
    color: #fff;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
    cursor: pointer;
}

.container {
    width: 1169px;
    max-width: calc(100%-24px);
    margin: 0px auto;
}

/* =========================Header======================= */
header {
    background-color: #FFFAF5;
    padding-top: 18px;
    padding-bottom: 10px;
}

header .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------Menu-------------------- */
header ul.main-menu {
    display: flex;
    gap: 0px 3px;
}

ul.main-menu a {
    display: block;
    position: relative;
    padding: 8px 15px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    transition: color .25s;
}

ul.main-menu a::after {
    display: block;
    position: absolute;
    content: "";
    right: 15px;
    bottom: -4px;
    width: 0px;
    height: 3px;
    background-color: var(--heading-color);
    transition: width .25s;
}

/* phan hover vao the a::after */
ul.main-menu a:hover::after {
    left: 15px;
    width: calc(100% - 30px);
}

/* phan bu tru after cua the a */
ul.main-menu li:first-child a:hover:after,
ul.main-menu li:last-child a:hover::after {
    width: calc(100% - 15px);
}

ul.main-menu li:first-child a {
    padding-left: 0px;
}

ul.main-menu li:last-child a {
    padding-right: 0px;
}

ul.main-menu li:first-child a:hover:after {
    left: 0px;
}

ul.main-menu li:last-child a:hover::after {
    right: 0px;
}

/* ------------------------------------------------------------- */

ul.main-menu a:not(.active):hover {
    color: var(--heading-color);
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

ul.main-menu a.active {
    color: var(--heading-color);
}

/*------------------------BTN--------------------- */
.header-cta {
    /* overflow: hidden; */
    position: relative;
    min-width: 117px;
    padding: 17.2px 0px;
    background: transparent;
    border: 1px solid var(--heading-color);
    border-radius: 25px;
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    box-shadow: none;
    transition: background-color, border-color, color;
    transition-duration: 0.25s;
    cursor: pointer;
}

.header-cta span {
    position: relative;
    z-index: 1;
    transition: color 0.25s;

}

.header-cta:hover span {
    color: #fff;
}

.header-cta::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    scale: 0;
    background-color: var(--heading-color);
    transition: scale 0.25s;
    border-radius: 25px;
}

.header-cta:hover::before {
    scale: 1;
}

/* ===============================End Header======================================= */
/* ===================================Hero========================================== */
.hero {
    background-color: var(--primary-bg-color);
}

.hero .box {
    display: flex;
    justify-content: space-between;
    padding: 90px 0px 85px;
}

/* ---------------------Pic----------------------- */
.hero__pic {
    position: relative;
    display: flex;
    align-items: flex-end;
}

figure.cat,
figure.dog {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE997B;
    border-radius: 16px;
    overflow: hidden;
}

figure.cat {
    background-color: #FE997B;
}

figure.dog {
    transform: translate(-20px, 58px);
    width: 186px;
    max-height: 244px;
    background: #FAA7AD;
}

.column {
    position: absolute;
    left: 130px;
    bottom: -94px;
    max-height: 156px;
    background-color: #fff;
    min-width: 250px;
    padding: 18px 14px;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px #CFAE8440;
}

.rows {
    display: flex;
}

.rows:first-of-type {
    border-bottom: 3px solid #F2F2F2;
    margin-bottom: 20px;
}

.rows:first-of-type .rows__pic {
    margin-bottom: 20px;
    background-color: #F7A70C;
}

.rows:last-of-type .rows__pic {
    background-color: #6597C2;
}

.rows__pic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.rows__desc .desc-1,
.rows__desc .desc-2 {
    height: 4px;
    border-radius: 10px;
    opacity: 0.8;
    background-color: #F2F2F2;
}

.rows__title {
    color: #181E52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.rows__desc .desc-1 {
    margin: 7px 0px 6px;
    width: 118px;
}

.rows__desc .desc-2 {
    width: 39px;
}

/* ------------------------Content----------------------- */
.hero__content {
    width: 44.2258%;
}

.hero__title {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15152;
}

.hero__desc {
    width: 391px;
    margin: 24px 0px 38px;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.hero-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 24px;
    padding: 21.2px 0px;
    gap: 0px 10px;
}

.hero-cta {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.hero-cta span.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: var(--primary-bg-color);
    border-radius: 50%;
    box-shadow: 4px 3px 10px -1px #BF290066;

}

a.Call {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
}