* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #000958;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    min-width: 189px;
    padding: 20.2px 0px;
    text-align: center;
    border: 1px solid #FF5B2E;
    background-color: #FF5B2E;
    color: #fff;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
    outline: none;

}

.container {
    width: 1169px;
    max-width: calc(100%-24px);
    margin: 0px auto;
}

/* =========================Header======================= */
header {
    background-color: #FFFAF5;
    padding-top: 18px;
    padding-bottom: 10px;
}

header .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------Menu-------------------- */
header ul.main-menu {
    display: flex;
    gap: 0px 3px;
}

ul.main-menu a {
    display: block;
    position: relative;
    padding: 8px 15px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    transition: color .25s;
}

ul.main-menu a::after {
    display: block;
    position: absolute;
    content: "";
    right: 15px;
    bottom: -4px;
    width: 0px;
    height: 3px;
    background-color: var(--primary-color);
    transition: width .25s;
}

/* phan hover vao the a::after */
ul.main-menu a:hover::after {
    left: 15px;
    width: calc(100% - 30px);
}

/* phan bu tru after cua the a */
ul.main-menu li:first-child a:hover:after,
ul.main-menu li:last-child a:hover::after {
    width: calc(100% - 15px);
}

ul.main-menu li:first-child a {
    padding-left: 0px;
}

ul.main-menu li:last-child a {
    padding-right: 0px;
}

ul.main-menu li:first-child a:hover:after {
    left: 0px;
}

ul.main-menu li:last-child a:hover::after {
    right: 0px;
}

/* ------------------------------------------------------------- */

ul.main-menu a:not(.active):hover {
    color: var(--primary-color);
    text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
}

ul.main-menu a.active {
    color: var(--primary-color);
}

/*------------------------BTN--------------------- */
.header-cta {
    overflow: hidden;
    position: relative;
    min-width: 117px;
    padding: 17.2px 0px;
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    box-shadow: none;
    transition: background-color, border-color, color;
    transition-duration: 0.25s;
    cursor: pointer;
}

.header-cta span {
    position: relative;
    z-index: 1;
    transition: color 0.25s;

}

.header-cta:hover span {
    color: #fff;
}

.header-cta::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 0;
    background-color: var(--primary-color);
    transition: width 0.25s;
}

.header-cta:hover::before {
    left: 0px;
    width: 100%;
}

/* ===============================End Header======================================= */